@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #151515;
    font-family: 'Pretendard-Regular';
}

header{
    padding: 16px 32px;
    background-color: rgba(35, 35, 35, 0.5);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.header-nav{
    display: flex;
    align-items: center;
    gap: 56px;
}

.cgv-logo,
.cgv-logo > svg {
    width: 136px;
    height: 60px;
}

.header-menu{
    display: flex;
    gap: 40px;
}

.menu-list{
    display: flex;
}

.menu-list a{
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
}

.ticket-btn{
    display: block;
    padding: 10px 32px;
    background-color: rgba(228, 35, 19, 0.5);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
}

.mouse-box{
    width: 20px;
    height: 35px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%,0);
}

.mouse-body{
    width: 100%;
    height: 100%;
    border: 4px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    animation: mm 1.5s infinite;
}

.mouse-btn{
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    margin: 2px;
    animation: mb 1.5s infinite;
}

@keyframes mm {
    from{
        transform: translateY(0);
    }

    50%{
        transform: translateY(50%);
        opacity: 1;
    }

    to{
        transform: translateY(50%);
        opacity: 0;
    }
}

@keyframes mb{
    from{
        transform: translateY(0);
    }

    50%{
        transform: translateY(400%);
        opacity: 1;
    }

    to{
        transform: translateY(400%);
        opacity: 0;
    }
}

#video-section{
    background-image: url(source/background/video.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#intro-section{
    background-image: url(source/background/intro_background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interactive-text-area{
    position: relative;
    top: -5%;
    left: -1%;
    border: 1px solid #222;
}

.interactive-text-area p{
    font-size: 24px;
    font-weight: bold;
}

.title-container{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container.tech{
    background-image: url(source/background/title-tech_background.jpg);
}

.title-container.prestige{
    background-image: url(source/background/title-prestige_background.jpg);
}

.title-area{
    text-align: center;
    line-height: 30px;
}

.title-area h2{
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.title-area p{
    font-size: 14px;
    color: white;
}

.section-container-wrap{
    height: 500px;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.section-container-wrap.ultra-4dx{
    background-image: url(source/background/ultra_4dx_background.jpg);
    
}

.section-container-wrap.imax{
    background-image: url(source/background/imax_background.jpg);
}

.section-container-wrap.starium{
    background-image: url(source/background/starium_background.jpg);
}

.section-container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 32px 0
}

.theater-box{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 108px;
    margin-left: 50px;
}

.ultra-4dx-logo{
    width: 186px;
}

.theater-name{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.theater-name p{
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
}

.learn-more-btn{
    display: inline-block;
    align-self: flex-start;
    text-decoration: none;
    color: white;
    font-size: 14px;
    border: 2px solid white;
    border-radius: 87px;
    padding: 8px 16px;
    width: auto;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
}

.content-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 57px;
    margin-right: 150px;
    gap: 16px;

}

.article-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    color: white;
    text-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
}

.article-box h2{
    font-size: 24px;
    font-weight: bold;
}

.article-box p{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.fourdx-content-box{
    width: 328px;
    background-color: rgba(228, 35, 19, 0.5);
    border-radius: 14px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
}

.fourdx-icon-list{
    display: flex;
    flex-wrap: wrap;
    padding: 16px 24px;
    row-gap: 16px;
}

.fourdx-icon{
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.fourdx-icon p{
    font-size: 12px;
    color: white;
    text-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
}

.icon-circle{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
}

.icon-circle.wind{
    background-color: rgba(255, 205, 205, 0.85)
}

.icon-circle.bubbles{
    background-color: rgba(212, 227, 241, 0.85);
}

.icon-circle.lightning{
    background-color: rgba(249, 241, 223, 0.85);
}

.icon-circle.fog{
    background-color: rgba(238, 238, 237, 0.85);
}

.icon-circle.vibration{
    background-color: rgba(204, 216, 255, 0.85);
}

.icon-circle.scents{
    background-color: rgba(223, 233, 223, 0.85);
}

.icon-circle.water{
    background-color: rgba(205, 223, 233, 0.85);
}

.icon-circle.motion{
    background-color: rgba(236, 221, 236, 0.85);
}

.icon-circle.wind img{
    width: 19px;
    height: 14px;
}

.icon-circle.bubbles img{
    width: 22px;
    height: 21px;
}

.icon-circle.lightning img{
    width: 27px;
    height: 22px;
}

.icon-circle.fog img{
    width: 21px;
    height: 21px;
}

.icon-circle.vibration img{
    width: 19px;
    height: 14px;
}

.icon-circle.scents img{
    width: 22px;
    height: 22px;
}

.icon-circle.water img{
    width: 17px;
    height: 20px;
}

.icon-circle.motion img{
    width: 22px;
    height: 13px;
}

.imax-logo{
    width: 102px;
    height: 29px;
}

.imax-content-box{
    display: flex;
    gap: 16px;
}

.imax-info-box{
    background-color: rgba(228, 35, 19, 0.5);
    width: 148px;
}

.imax-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px 24px
}

.imax-icon{
    width: 68px;
    height: 68px;
}

.imax-info-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imax-info p{
    color: white;
    text-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
}

.imax-info-title p:first-child{
    font-size: 14px;
}

.imax-info-title p:nth-child(2){
    font-size: 20px;
    font-weight: 500;
}

.imax-info-text{
    text-align: center;
    font-size: 12px;
}