body{
    background-color: #151515;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
}

.cgv-logo,
.cgv-logo > img {
    width: 156px;
    height: 69px;
}

.cgv-logo 

.header-menu{
    display: flex;
    gap: 40px;
}

.menu-list a{
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.ticket-btn{
    display: block;
    padding: 10px 32px;
    background-color: #E42313;
    color: white;
    text-decoration: none;
    border-radius: 30px;
}