@media screen and (max-width: 1186px) {
    .video-section-video-view{
        display: none;
    }

    .video-section-img-view{
        display: block;
        background-image: url(/source/background/video.jpg);
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
    }

}

@media screen and (max-width: 1024px) {

    .section-container{
        width: 100%;
    }

    .article-container{
        width: 100%;
        padding: 0 32px;
        box-sizing: border-box;
    }

    .header-nav{
        gap: 40px;
    }

    .cgv-logo,
    .cgv-logo>svg {
        width: 120px;
        height: 53px;
    }

    .menu-list a{
        font-size: 18px;
    }

    .ticket-btn{
        margin-left: auto;
        font-size: 18px;
    }

    .fourdx-content-box{
        background-color: rgba(228, 35, 19, 0.5);
        border-radius: 14px;
        box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
        transition: background-color 0.2s;
    }

    .fourdx-icon-list{
        display: flex;
        flex-wrap: wrap;
    }
    
    .fourdx-icon{
        width: 64px;
    }

    .icon-circle{
        width: 40px;
        height: 40px;
    }

    .imax-info-wrap{
        width: 122px;
        border-radius: 14px;
    }

    .imax-info{
        padding: 14px 18px;
    }

    .imax-icon{
        width: 56px;
        height: 56px;
    }

    .imax-info-title p:first-child{
        font-size: 11px;
    }
    
    .imax-info-title p:nth-child(2){
        font-size: 16px;
        font-weight: 500;
    }
    
    .imax-info-text{
        text-align: center;
        font-size: 10px;
    }

    .footer-nav{
        gap: 8px;
    }

    .footer-nav a{
        font-size: 12px;
    }

    .company-info-text{
        font-size: 12px;
        line-height: 20px;
    }

    select{
        font-size: 12px;
        padding: 4px 8px;
        transition: 0.2s;
    }

    .go-btn{
        font-size: 14px;
        font-weight: 600;
        padding: 6px;
    }
    

}