@media screen and (max-width: 1186px) {
    .video-section-video-view{
        display: none;
    }

    .video-section-img-view{
        display: block;
        background-image: url(/source/background/video.jpg);
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
    }

}

@media screen and (max-width: 1024px) {

    .section-container{
        width: 100%;
    }

    .article-container{
        width: 100%;

    }

    .header-nav{
        gap: 40px;
    }

    .cgv-logo,
    .cgv-logo>svg {
        width: 120px;
        height: 53px;
    }

    .menu-list a{
        font-size: 18px;
    }

    .ticket-btn{
        margin-left: auto;
        font-size: 18px;
    }

    .imax-info-wrap{
        width: 122px;
        border-radius: 14px;
    }

    .imax-info{
        padding: 14px 18px;
    }

    .imax-icon{
        width: 56px;
        height: 56px;
    }

    .imax-info-title p:first-child{
        font-size: 11px;
    }
    
    .imax-info-title p:nth-child(2){
        font-size: 16px;
        font-weight: 500;
    }
    
    .imax-info-text{
        text-align: center;
        font-size: 10px;
    }

    .prestige-theater{
        /* width: 100%; */
        height: 297px;
        border-radius: 28px;
        display: flex;
        align-items: center;
        box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
        overflow: hidden;
    }

}